.wr {
    padding: 80px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 79px;
    flex-wrap: wrap;
    img {
        max-width: 275px;
    }
} 
.wrapper__about {
    white-space: pre-line;
    &_title {
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
    }
    &_descr {
        display: block;
        margin: auto;
        margin-top: 40px;
        max-width: 589px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
}