.titul {
    text-align: center;
   
    .descr {
        max-width: 530px;
        text-align: center;
        margin-top: 35px;
        display: block;
        margin: auto;
        font-weight: 700;
        font-size: 24px;
        line-height: 45px;
        color: #FFFFFF;
    }
    
}

.our-coffee {
    background: url('../../img/OurCoffeBg.png') center center/cover no-repeat;
    margin-top: -96px;
    padding-top: 130px;
    padding-bottom: 84px;
}

.main {
    background: url('../../img/Main\ bg.jpg') center center/cover no-repeat;
    margin-top: -96px;
    padding-top: 180px;
    padding-bottom: 215px;
}

.ForYourPleasure {
    background: url('../../img/FYP.png') center center/cover no-repeat;
    margin-top: -96px;
    padding-top: 130px;
    padding-bottom: 84px;
}