.cardPage {
    padding-top: 80px;
    .wr {
        padding: 39px 0 100px 0 ;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
        gap: 70px;
    }
    .line {
        margin: auto;
        width: 240px;
        height: 0px;
        border: 1px solid #000000;
    }
    .title {
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #000000;
    }
}
.best {
    background: url('../../img/BgCard.jpg') center center/cover no-repeat;
}